@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway bold';
    src: url('../assets/fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bitter';
    src: url('../assets/fonts/Bitter-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSerifTC';
    src: url('../assets/fonts/NotoSerifTC-Regular.otf') format('truetype');
}
html, body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Raleway' , 'NotoSerifTC';
    color: #1D2F38;
    background-color: #FFF;
}
h1, h2, h3{
    font-family: 'Bitter' , 'NotoSerifTC';
    font-weight: 400;
}
button {
    border: none;
    background: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
main, .nav-container, .footer-container, .header-container{
    margin: 0 auto;
    max-width: 1150px;
}
header{
    box-shadow: 0px 1px 6px 0px rgba(83, 109, 122, 0.29);
    border-bottom: 2px solid rgba(83, 109, 122, 0.24);
    margin: 0;
    height: 85px;
}
.header-container{
    height: 100%;
    box-sizing: border-box;   
    padding: 5px;

    display: flex;
    justify-content: space-between;
}
.header-container p{
    font-size: 18px;
    line-height: 28px;
    gap: 1.8vw;
}
.header-container button{
    font-size: 18px;
    line-height: 28px;
    gap: 6px;
}
#theme-button{
    margin-top: 23.5px;
    height: 28px;
    font-size: 20px;
    box-shadow: inset 0px 0px 20px 20px #3F3F3F,  0px 0px 7.5px 7.5px #3F3F3F;
}
.header-container .affiliate-logo{
    margin: 0.1px 0 0 0;
    width: 155px;
}
main{
    display: flex;
    flex-direction: column;
}
b{
    font-family: 'Raleway bold';
}
h2{
    font-size: 38px;
    line-height: 40px;
}
h3{
    font-size: 30px;
    line-height: 35px;
    margin: 0;
}
.latest, .users-list-section{
    margin-top: 5.1%;
    background-color: #E3EBF1;
    border-radius: 10px;
    padding: 0 3.8vw 3.43vw 3.48vw;
}
.blog-greed{
    width: 100%;
    display: grid;
    grid-template:
    "main-info secondary-info1" 33%
    "main-info secondary-info2" 33%
    "main-info secondary-info3" 33% / 48.5% 48.5%;
    column-gap: 3.25%;
    row-gap: 1.234%;
}
.blog-greed div:nth-child(1){
    grid-area: main-info;
}
.blog-greed div:nth-child(1) h3{
    margin: 6px 0 12.5px;
}
.blog-greed div:nth-child(1) p, .reviews p{
    font-size: 15px;
    line-height: 20px;
}
.blog-greed div:nth-child(2){
    grid-area: secondary-info1;
}
.blog-greed div:nth-child(3){
    grid-area: secondary-info2;
}
.blog-greed div:nth-child(4){
    grid-area: secondary-info3;
}
.blog-greed div:nth-child(2), .blog-greed div:nth-child(3), .blog-greed div:nth-child(4){
    display: flex;
    align-items: center;
    max-height: 150px;
}
.blog-greed div:nth-child(2) img, .blog-greed div:nth-child(3) img, .blog-greed div:nth-child(4) img{
    width: 245px;
    margin-right: 14.5px;
}
.blog-greed div:nth-child(2) p, .blog-greed div:nth-child(3) p, .blog-greed div:nth-child(4) p{
    font-size: 18px;
    line-height: 25px;
}
.latest button{
    margin-top: 5.1vw;
    gap: 4.2px;
}
.latest button p{
    margin-top: 0.5px;
}
.product-reviews{
    margin-top: 4.6vw;
    display: flex;
    flex-direction: column;
}
.product-reviews div.reviews{
    box-sizing: border-box;
    padding-top: 0.65px;
    align-self: center;
}
.review{
    position: relative;
    border-radius: 10px;
    background: #F7F9FA;
}
.review .shadow-box{
    position: absolute;
    margin: 15px 0 0 15px;

    border-radius: 3px;
    background: rgba(29, 47, 56, 0.80);
}
.review .shadow-box p{
    margin: 5px 10.5px;
    color: #FFF;
    font-size: 12px;
    line-height: 20px;
}
.review div{
    margin: 1.4vw 1.75vw 2.8vw;
}
.review img{
    width: 100%;
}
.review div:not(:first-child){
    padding: 1.4vw 1.75vw 2.8vw;
    margin: 0;
}
.review div p{
    margin-top: 0.85vw;
}
.glide__slide {
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    min-height: 100%;
    max-height: 100%;
}
.glide__slides {
    gap: 0px;
    display: flex;
    flex-wrap: nowrap;
}
.glide__track {
    transition: transform 0.3s ease-in-out;
}
.product-reviews h2{
    margin-bottom: 15.5px;
}
.product-reviews button{
    margin-top: 1.65vw;
    gap: 4.2px;
    margin-bottom: 30px;
}
.product-reviews button p{
    margin-top: 0.5px;
}
.product-reviews button p:hover{
    animation-name: textShadow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes textShadow {
    0% {
        text-shadow: red 0 0;
    }
    2.5% {
        text-shadow: red 1px 0;
    }
    10% {
        text-shadow: red 2px 0;
    }
    15% {
        text-shadow: red 2px 1px;
    }
    20% {
        text-shadow: red 2px 2px;
    }
    25% {
        text-shadow: red 1px 2px;
    }
    30% {
        text-shadow: red 0 2px;
    }
    35% {
        text-shadow: red -1px 2px;
    }
    40% {
        text-shadow: red -2px 2px;
    }
    45% {
        text-shadow: red -2px 1px;
    }
    50% {
        text-shadow: red -2px 0;
    }
    55% {
        text-shadow: red -2px -1px;
    }
    60% {
        text-shadow: red -2px -2px;
    }
    65% {
        text-shadow: red -1px -2px;
    }
    70% {
        text-shadow: red 0 -2px;
    }
    75% {
        text-shadow: red 1px -2px;
    }
    80% {
        text-shadow: red 2px -2px;
    }
    85% {
        text-shadow: red 2px -1px;
    }
    90% {
        text-shadow: red 2px 0;
    }
    97.5% {
        text-shadow: red 1px 0;
    }
    100% {
        text-shadow: red 0 0;
    }
}
.users-list-section{
    margin-bottom: 50px;
}
.users-list-section button{
    padding: 10px;
    border: 1px double #000;
    border-radius: 10px;
    background-color: rgb(157, 254, 172);
}
footer{
    background: #F7F9FA;
    box-sizing: border-box;
    padding: 0 10%;
}
.footer-container hr{
    margin: 0;
    border: none;
    height: 1.5px;
    background: rgba(83, 109, 122, 0.8);
}
.footer-container div{
    padding: 11px 0 9.3px;
    display: flex;
    justify-content: space-between;
}
.footer-container div div{
    display: flex;
    gap: 10px;
}
.footer-container a {
    color: #1D2F38;
    font-size: 12px;
    line-height: 20px; 
}
@media (max-width: 1439px) {
    main, header{
        padding: 0 10.5%;
    }
}
@media (max-width: 1365px){
    .product-reviews > div > div > ul > li > div > div:last-child{
        min-height: 206px;
    }
}
@media (max-width: 1060px) {
    .header-container {
        justify-content: space-around;
        gap: 10vw;
    }
    .header-container p{
        font-size: 18px;
        line-height: 28px;
    }
}
@media (max-width: 1024px) { 
    .product-reviews > div > div > ul > li > div > div:last-child{
        min-height: 188px;
    }    
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 26px;
        line-height: 32px;
    }
    .blog-greed{
        grid-template:
        "main-info" 22.75%
        "secondary-info1" 22.75%
        "secondary-info2" 22.75%
        "secondary-info3" 22.75% / 100%;
        row-gap: 3%;
    }
    .blog-greed div:nth-child(1){
        display: flex;
        align-items: center;
        max-height: 150px;
    }
    .blog-greed > div img{
        width: 245px;
        height: 150px;
        margin-right: 14.5px;
        flex-shrink: 0;
    }
    .blog-greed div:nth-child(1) h3{
        font-size: 18px;
        line-height: 25px;
        font-family: 'Raleway';
    }
    .blog-greed div:nth-child(1) p{
        display: none;
    }
    .latest button {
        margin-top: 8vw;
    }
}
@media (max-width: 850px){
    .product-reviews > div > div > ul > li > div > div:last-child{
        min-height: 0px;
    }
}
@media (max-width: 768px) { 
    .header-container {
        gap: 1.8vw;
    }
    .product-reviews > div > div > ul > li > div > div:last-child{
        min-height: 96px;
    }
    header{
        padding: 0;
    }    
    .reviews div div p:not(:first-child){
        display: none;
    }
    .product-reviews button{
        margin-top: 8vw;
    }
    header, header div {
        gap: 4.5vw;
    }    
    .footer-container hr{
        display: none;
    }
    .footer-container > div {
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .latest div.blog-greed > div img{
        width: 196px;
        height: 120px;
        margin-right: 10px;
    }
}
@media (max-width: 515px) {
    .footer-container div div:last-child {
        flex-direction: column;
    }
}
@media (max-width: 500px) { 
    .header-container .affiliate-logo{
        margin-left: 2vw;
    }
    .header-container{
        gap: 2.9vw;
    }
    .header-container .affiliate-logo {
        width: 120px;
    }
    h1 {
        font-size: 30px;
        line-height: 38px;
    }
    #go-as-user{
        max-width: 90px;
    }
}
@media (max-width: 460px){
    .latest div.blog-greed > div img {
        width: 156px;
        height: 95px;
        margin-right: 7.5px;
    }
    .latest div.blog-greed div h3 ,.latest div.blog-greed div p {
        font-size: 15px;
        line-height: 22px;
    }
}
@media (max-width: 375px) { 
    .latest div.blog-greed > div img {
        width: 135.6px;
        height: 82.6px;
        margin-right: 2.5px;
    }
}
@media (min-width: 1445px) {
    .introducing img {
        width: 500px;
        max-width: 500px;
        min-width: 500px;
        height: 386px;
        flex-shrink: 0;
    }
    .introducing {
        padding: 50px;
        gap: 50px;
    }
    .latest button, .latest, .product-reviews, .product-reviews button {
        margin-top: 70px;
    }
}
body.dark-mode{
    background-color: #000;
}
body.dark-mode header button:not(#theme-button), 
body.dark-mode h2,
body.dark-mode .latest div div h3,
body.dark-mode .latest div div p,
body.dark-mode .latest button,
body.dark-mode .product-reviews button,
body.dark-mode .reviews div div h3,
body.dark-mode .reviews div div p:not(:first-child),
body.dark-mode hr,
body.dark-mode .users-list-section button,
body.dark-mode footer a
{
    filter: invert(100%);
}
body.dark-mode .product-reviews div div div{
    background-color: #080605;
}
body.dark-mode .latest,body.dark-mode .users-list-section{
    background-color: #1c140e;
}
body.dark-mode footer{
    background-color: #080605;
}
