@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-Regular.ttf') format('truetype');
}
html, body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Raleway';
    color: #1D2F38;
}
h1, h2, h3{
    font-family: 'Bitter';
    font-weight: 400;
}
button {
    border: none;
    background: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
header{
    box-sizing: border-box;   
    padding: 1.025%;

    display: flex;
    justify-content: space-between;

    box-shadow: 0px 1px 6px 0px rgba(83, 109, 122, 0.29);
    border-bottom: 2px solid rgba(83, 109, 122, 0.24);
}
header p{
    font-size: 14px;
    line-height: 20px;
}
header button{
    gap: 6px;
}
#sign-up{
    margin-right: 10.1vw;
}
header .affiliate-logo{
    margin: 0.1px 0 0 9.05vw;
    width: 155px;
}
header div{
    display: flex;
    gap: 2.05vw;
}
#burger-button{
    background: none;
    border: none;
    color: black;
    padding: 0;
    margin: 0 50px 0 0;
    width: 70px;
    height: 70px;
    box-shadow: none;
    display: none;
}
#burger-button:focus{
    outline: none; 
}
#burger-button img{
    width: 70px;
    transition: transform 2s;
}
#burger-button.show img {
    transform: rotate(-135deg);
}
#burger-menu{
    display: flex;
    gap: 3vw;
}
main{
    margin: 0 10.05%;
    display: flex;
    flex-direction: column;
}
.introducing{
    margin-top: 5.1%;
    background-color: #E3EBF1;
    border-radius: 10px;
    padding: 3.48vw 3.8vw 3.43vw 3.48vw;

    display: flex;
    gap: 3.47vw;
}
.introducing img {
    min-width: 34.74vw;
}
.introducing p {
    margin: 1.5vw 0 1.74vw  0;
    color: #333;
    font-size: 18px;
    line-height: 24px;
}
.introducing .green-p{
    margin: 1vw 0 0.55vw 0;
    color: #10843F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    line-height: 25px;
}
b{
    font-family: 'Raleway bold';
}
h1{
    font-size: 47px;
    line-height: 52px;
    margin: 0;
}
.introducing button{
    width: 161px;
    height: 50px;
    border-radius: 5px;
    background: #17A550;

    color: #FFF;
    justify-content: center;
    font-size: 15px;
    line-height: 20px;
}
h2{
    font-size: 38px;
    line-height: 40px;
}
h3{
    font-size: 30px;
    line-height: 35px;
    margin: 0;
}
.latest{
    margin-top: 3.28vw;
}
.blog-greed{
    width: 100%;
    display: grid;
    grid-template:
    "main-info secondary-info1" 33%
    "main-info secondary-info2" 33%
    "main-info secondary-info3" 33% / 48.5% 48.5%;
    column-gap: 3.25%;
    row-gap: 1.234%;
}
.blog-greed div:nth-child(1){
    grid-area: main-info;
}
.blog-greed div:nth-child(1) h3{
    margin: 6px 0 12.5px;
}
.blog-greed div:nth-child(1) p, .reviews p{
    font-size: 15px;
    line-height: 20px;
}
.blog-greed div:nth-child(2){
    grid-area: secondary-info1;
}
.blog-greed div:nth-child(3){
    grid-area: secondary-info2;
}
.blog-greed div:nth-child(4){
    grid-area: secondary-info3;
}
.blog-greed div:nth-child(2), .blog-greed div:nth-child(3), .blog-greed div:nth-child(4){
    display: flex;
    align-items: center;
    max-height: 150px;
}
.blog-greed div:nth-child(2) img, .blog-greed div:nth-child(3) img, .blog-greed div:nth-child(4) img{
    width: 245px;
    margin-right: 14.5px;
}
.blog-greed div:nth-child(2) p, .blog-greed div:nth-child(3) p, .blog-greed div:nth-child(4) p{
    font-size: 18px;
    line-height: 25px;
}
.latest button{
    margin-top: 5.1vw;
    gap: 4.2px;
}
.latest button p{
    margin-top: 0.5px;
}
.products{
    margin-top: 6.95vw;
    background: #E3EBF1;
    background-image: url(images/bg-small.svg);
    border-radius: 10px;
    padding: 2.08vw 2.8vw 2.08vw 2.08vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products div{
    display: flex;
    align-items: center;
}
.products img{
    max-height: 50px;
    margin-right: 12.3px;
}
.products h3{
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 2.05px;
} 
.products button{
    width: 111px;
    height: 52px;
    border-radius: 5px;
    background: #17A550;
    margin-top: 0.5px;

    color: #FFF;
    justify-content: center;
    font-size: 15px;
    line-height: 22px;
}
.product-reviews{
    margin-top: 4.6vw;
}
.reviews{
    padding-top: 0.65px;
    display: flex;
    gap: 3.5%;
}
.reviews div{
    position: relative;
    border-radius: 10px;
    background: #F7F9FA;
}
.reviews div .shadow-box{
    position: absolute;
    margin: 15px 0 0 15px;

    border-radius: 3px;
    background: rgba(29, 47, 56, 0.80);
}
.reviews div .shadow-box p{
    margin: 5px 10.5px;
    color: #FFF;
    font-size: 12px;
    line-height: 20px;
}
.reviews div div{
    margin: 1.4vw 1.75vw 2.8vw;
}
.reviews div div p{
    margin-top: 0.85vw;
}
.product-reviews button{
    margin-top: 2.78vw;
    gap: 4.2px;
}
.product-reviews button p{
    margin-top: 0.5px;
}
.news{
    border-radius: 10px;
    margin-top: 6.95vw;
    padding: 3.45vw;
    background-image: url(images/bg-big.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    gap: 3.45vw;
}
.docks-woman{
    min-width: 47.56%;
    margin-left: 1px;
}
.newsletter-signup{
    display: flex;
    flex-direction: column;
    margin: 0.55vw 1px 0 0;
}
.newsletter-signup div{
    display: flex;
    gap: 10px;
}
.newsletter-signup div h3{
    margin-top: 12.6px;
}
.news p{
    font-size: 18px;
    line-height: 24px;
    margin: 2.1vw 0 1.7vw;
}
.news form input{
    border-radius: 5px;
    border: 1.5px solid #AABCC5;
    background: #FFF;
    width: 100%;
    height: 50px;

    box-sizing: border-box;
    padding: 0 16px;
    margin-bottom: 2.18vw;

    color: #536D7A;
    font-size: 12px;
    line-height: 20px;
}
::placeholder{
    color: #536D7A;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Raleway';
}
.news form button{
    width: 82px;
    height: 50px;
    box-sizing: border-box;
    padding: 2px 3px 0 0;
    display: inline-block;
    
    border-radius: 5px;
    background: #FFC728;

    color: #000;
    font-size: 12px;
    line-height: 20px; 
}
.news form a{
    margin-left: 5.5px;
    padding-top: 5px;
    color: #536D7A;
    font-size: 12px;
    line-height: 20px;
}
nav, footer{
    background-color: #F7F9FA;
    box-sizing: border-box;
    padding: 0 10%;
}
nav{
    padding-top: 4.1vw;
    padding-bottom: 5.5vw;
    margin-top: 6.95vw;
    display: flex;
    gap: 2.75vw;
}
nav section{
    width: 35%;
}
nav section:nth-child(1) div,nav section:nth-child(3) div {
    display: flex;
}
nav .affiliate-logo{
    padding-left: 1px;
    width: 12.1vw;
}
nav .social-networks{
    margin: 6.2px 0 20.3px 1px;
}
nav section:nth-child(1) p{
    max-width: 89%;
    font-size: 16px;
    line-height: 20px;
    padding-left: 1px;
}
nav section:nth-child(2) div{
    display: grid;
    grid-template:
    "pic-1 text-1" 100px
    "pic-2 text-2" 100px
    "pic-3 text-3" 100px/ 39% 61%;
    row-gap: 20px;   
}
nav section:nth-of-type(2) h3{
    box-sizing: border-box;
    padding: 1px 0 0 1px;
    margin-bottom: 10.5px;
}
nav .img-container{
    width: 100%;
    height: 100%;
    border-radius: 7px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav section:nth-of-type(2) p{
    padding: 0 0 3px 10px;
    align-self: center;
    font-size: 16px;
    line-height: 18px;
}
nav section:nth-of-type(2) .img-container:nth-of-type(1){
    background-image: url(images/grass.png);
    grid-area: pic-1;
}
nav section:nth-of-type(2) .img-container:nth-of-type(2){
    background-image: url(images/road.png);
    grid-area: pic-2;
}
nav section:nth-of-type(2) .img-container:nth-of-type(3){
    background-image: url(images/tree.png);
    grid-area: pic-3;
}
nav section:nth-of-type(2) p:nth-of-type(1){
    grid-area: text-1;
}
nav section:nth-of-type(2) p:nth-of-type(2){
    grid-area: text-2;
}
nav section:nth-of-type(2) p:nth-of-type(3){
    grid-area: text-3;
}
nav section:nth-child(3) div {
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #AABCC5;
    margin-top: 0.8vw;
    height: 50px;
}
nav input{
    border-radius: 5px 0px 0px 5px;
    border: none;
    background: #FFF;
    width: 100%;

    box-sizing: border-box;
    padding: 0 16px;

    color: #536D7A;
    font-size: 12px;
    line-height: 20px;
}
nav button{
    border-radius: 0px 5px 5px 0px;
    background: #768F9C;

    box-sizing: border-box;
    padding: 0 20px;

    color: #FFF;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    font-weight: 900;
    letter-spacing: 0.5px;
}
nav ul{
    padding: 5.5px 0 0;
}
nav li{
    list-style: none;
    font-size: 16px;
    line-height: 20px; 
    margin-bottom: 7px;
}
nav li a{
    color: #1D2F38;
}
nav hr{
    margin: 25px 0 20.5px;
    border: none;
    height: 1.5px;
    background: rgba(83, 109, 122, 0.8);
}
footer hr{
    margin: 0;
    border: none;
    height: 1.5px;
    background: rgba(83, 109, 122, 0.8);
}
footer div{
    padding: 11px 0 9.3px;
    display: flex;
    justify-content: space-between;
}
footer div div{
    display: flex;
    gap: 10px;
}
footer a {
    color: #1D2F38;
    font-size: 12px;
    line-height: 20px; 
}
@media (max-width: 1024px) { 
    header {
        justify-content: center;
        gap: 10vw;
    }
    header div {
        justify-content: center;
        gap: 10vw;
    }
    header p{
        font-size: 18px;
        line-height: 28px;
    }
    #burger-button{
        display: block;
    }
    #burger-menu{
        background-color: #FFFFFF;

        width: 50vw;    
        height: 85vh;

        flex-direction: column;
        align-items: center;

        position: fixed;
        top: 17vh;
        left: -50vw;

        z-index: 10;
        transition: 2s transform;
    }
    #burger-menu button{
        box-sizing: border-box;
        padding: 7px;
        background-color: #E3EBF1;
        border: 2px solid rgba(23, 165, 80, 0.2);
        border-radius: 7px;
        width: 25vw;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    }
    #burger-menu.show{
        transform: translateX(100%);
    }
    .burger-shadow{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.0);
        z-index: 2;
        display: none;
    }
    h1 {
        font-size: 40px;
        line-height: 48px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 26px;
        line-height: 32px;
    }
    .products h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .blog-greed{
        grid-template:
        "main-info" 22.75%
        "secondary-info1" 22.75%
        "secondary-info2" 22.75%
        "secondary-info3" 22.75% / 100%;
        row-gap: 3%;
    }
    .blog-greed div:nth-child(1){
        display: flex;
        align-items: center;
        max-height: 150px;
    }
    .blog-greed div:nth-child(1) img{
        width: 245px;
        height: 150px;
        margin-right: 14.5px;
    }
    .blog-greed div:nth-child(1) h3{
        font-size: 18px;
        line-height: 25px;
        font-family: 'Raleway';
    }
    .blog-greed div:nth-child(1) p{
        display: none;
    }
    .latest button {
        margin-top: 8vw;
    }
}
@media (max-width: 768px) { 
    .reviews {
        flex-wrap: wrap;
        row-gap: 2vw;
        column-gap: 6%;
        justify-content: center;
    }
    .reviews img {
        min-width: 100%;
        width: 35vw;
    }
    .reviews > div {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    }
    .reviews div div:last-child p{
        display: none;
    }
    .product-reviews button{
        margin-top: 8vw;
    }
    nav section:nth-child(2) div.img-container{
        display: none;
    }
    nav section:nth-child(2) div {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    nav section:nth-of-type(2) p {
        padding: 0 ;
    }
}